.header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.navbar {
  height: 100%;
  display: flex;
}

.account {
  height: 100%;
  display: flex;
}

.headerButton {
  appearance: none;
  border: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 0 1em;
  cursor: pointer;
}

.headerButton:hover {
  color: #15F0E1;
}

.headerButton:focus {
  outline: 0;
}

.dropDownButton {
  padding-top: .5em;
  padding-bottom: .5em;
}

.blogTitle {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding-left: 1em;
}

.dropDown {
  background-color: black;
  box-shadow: 8px 8px 20px 0px rgba(0,0,0,0.5);
  transition: all .3s ease-in-out 0s;
}

.resumeDiv {
  display: inline;
}

.resumeFrame {
  height: 100%;
  width: 100%;
}
