.resumeComponent {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.resumeWrapper {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

.resumeHeader > h2 {
  margin: 0 auto;
  padding: 0;
}

.resumeIFrame {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
  margin: 0em !important;
}
