.resumeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.resumeIFrame {
  display: flex;
  width: 850px;
  max-width: 80%;
  height: 90%;
  overflow: hidden;
  border: 2px solid black;
}
