
.header {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}

.navbar {
  display: table;
  float: left;
  padding-left: 1em;
  height: 100%;
}

.account {
  display: table;
  float: right;
  padding-right: 1em;
  height: 100%;
}

.headerButtonWrapper {
  display: table-cell;
  vertical-align: middle;
}

.headerButton {
  -webkit-appearance: none;
  border: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: .25em .75em;
}

.headerButton:hover {
  color: #AAAAAA;
}
