.body {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow: auto;
  padding: 0 !important;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.bodyDiv > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.resume {
  height: 1020px;
}

.introTopDiv {
}

.introBottomDiv {
  justify-content: flex-end !important;
  padding-bottom: 2em;
}

.resumeIFrame {
  display: flex;
  width: 850px;
  height: 100%;
  align-self: center;
  overflow: hidden;
  border: 2px solid black;
}
