.body {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow: auto;
  padding: 0 !important;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;

  height: 100%;
  overflow: auto;
  text-align: center;
}

.bodyDiv > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

}

.bodyButton {
  appearance: none;
  border: 2px black solid;
  background-color: white;
  color: black;
  text-align: center;
  padding: .5em 1em;
}

.bodyButton:hover {
  background-color: #15F0E1;
}
