.mainBody {
  position: absolute;
  display: block;
  width: 100%;
  top: 50px;
  bottom: 50px;
  /*margin: 50px 0 50px 0;*/
  overflow: auto;
}

.innerBody {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  min-width: 350px;
  overflow-x: hidden;
  margin: 0 auto;
}

.innerBody > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 1em 0 1em 0;
  margin: 0 auto;
}

.sectionHeader {
  padding-bottom: 1em;
}

.sectionHeader > h2 {
  padding: 0;
  margin: 0;
}

.sectionHeader.no-padding {
  padding: 0;
}

.projectsSection {
  padding-bottom: 0 !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row-item {
  flex: 1 0 0;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 0 auto;
}

.flex-row-item > h3 {
  margin: 0 auto;
  padding: 0;
}

.resumeSection {
  height: 100%;
  padding-top: 0 !important;
}

.resumeHeader {
  padding: 1em;
}

.resumeHeader > h2 {
  margin: 0 auto;
  padding: 0;
}

.resumeWrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.resumeIFrame {
  position: relative;
  border: 1px solid black;
  margin: 0 auto;
  width: calc(100% - 4px);
  max-width: 850px;
}
