.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 100%;
  min-width: 350px;
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
}
