.projectHeader {
  text-align: center;
  height: auto;
  color: inherit;
  background-color: inherit;
}

.projectHeader > h2 {
  margin: 0 auto;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row-item {
  flex: 1 0 0;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 0 auto;
}

.flex-row-item > h3 {
  margin: 0 auto;
  padding: 0;
}
